style.css
*{
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/****************header**********************/

header {
    background-color: white;
    width: 100%;
    height: 10%;
    position:fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.logo{
text-decoration: none;
color: rgb(153, 10, 124);
text-transform: uppercase;
font-weight: 700;
font-size: 1.8em;
padding-left: 20px;
}
/****************navigation**********************/
.navigation a{
    text-decoration: none;
    color: rgb(153, 10, 124);
    text-transform;
    font-size: 1.1em;
    font-weight: 700;
    padding-right: 100px;
}

.navigation a:hover{
    color: red;
}
/****************main section**********************/
section {
    padding: 100px 100px;
}

.main {
width: 100%;
min-height: 50vh;
display: flex;
align-items: center;
/*background: url(images/p3.jpg) no-repeat;
background-position: right;
background-attachment: fixed;*/
background-color:rgb(153, 10, 124);
background: linear-gradient(rgb(52, 1, 1),rgb(153, 10, 124));
/*background-color: rgb(125, 10, 64);*/
opacity: 50;
}

.main h2 {
    color:white; 
    font-size: 2em;
    font-weight: 600;  
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: white;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: white;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
color: white;
background-color: #d498bd;
text-decoration: none;
font-size: 1.2em;
font-weight: 600;
display: inline-block;
padding: 0.9375em 2.1875em;
letter-spacing: 1px;
border-radius: 10px;
margin-bottom: 40px;
transform: 0.7s;
}

.main-btn:hover {
    background-color: #7f0861;
    transform: scale(1.1);
}

.social-icons a {
    color: white;
    font-size: 1.7em;
    padding-right: 30px;
}

.title {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 50px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.cards {
    background: linear-gradient(rgb(52, 1, 1),rgb(153, 10, 124));
}

.card {
    background-color: white;
    width: 15.25em;
    box-shadow: 0 5px rgba(black, 15%);
    border-radius: 15px;
    padding: 25px;
    margin: 16px;
    transform: 0.7s;
}

.card:hover {
    transform: scale(1.1); 
}

.icon {
    color: rgb(91, 8, 69);
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: #ac3984;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects {
    background: linear-gradient(rgb(52, 1, 1),rgb(153, 10, 124));
}

.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color:white;
    border: 1px solid white;
    min-height: 14em;
    width:20em;
    overflow: hidden;
    border-radius: 15px;
    margin: 20px;
    transform: 0.7s ease;
    
}

.project-card:hover {
    transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
}

.project-image img {
    width: 100%;
    height: 170px;
}

.project-info {
padding: 1em;

}

.project-category {
    font-size: 1.2em;
    color: rgb(52, 1, 1);
}

.project-title {
    color: rgb(94, 11, 82);
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    font-size: 0.9em;
    text-transform: uppercase;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: red;
}

.more-details:hover {
    color: rgb(52, 1, 1);
}

.contact {
    background: linear-gradient(rgb(52, 1, 1),rgb(153, 10, 124));

}

.contact .icon{
    font-size: 4.5em;
}

.contact .info h3{
    color: red;
}

.contact .info p{
    font-size: 1.2em;;
}

.contact .info a{
    text-decoration: none;
    color: #7f0861;
}

.contact .info a:hover{
    color: red;
}

.contact .title{
    color: white;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 2em;

}

.footer .social-icons a{
    color: #7f0861;
    font-size: 1.9em;
}

.footer-title{
    color:rgb(137, 13, 129);
    font-size: 1.3em;
    font-weight: 800;
}

.footer-title span{
    color: red;
}

@media (max-width:1023px) {
    header{
        padding: 10px 10px;

    }
    .navigation a{
        padding-left: 10px;;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main-content h2{
        font-size: 1.2em;
    }
    .main-content h3{
        font-size: 0.2em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:400px)  {

    body{
        font-size: 10px;;
    }

    header{
        display: flex;
        padding: 1px 1px;
    }
    .navigation a{
        padding-left: 5px;;
    }
    .title{
        font-size: 0.8em;
    }
    section{
        padding: 50px 10px;
    }


    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
    .footer{
        padding: 0.1em;
    }
    
}